.App {
  /* display */ 

  /* width/height */ 
  width: 100vw;
  height: 100vh;
  /* padding/margin */ 
  margin-top: 10vh;
  /* border */ 
  
  /* text */ 
  
  /* shadow */ 
  
  /* transition/animation */ 
  
  /* others */ 
  box-sizing: border-box;
}

.menu {
  /*display*//*width/height*/
  
  /*padding/margin*/
  
  /*border*//*text*//*shadow*//*transition/animation*/
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  /*others*/
  left: 0;
}

.hidden {
  /*display*//*width/height*//*padding/margin*//*border*//*text*//*shadow*/
  
  /*transition/animation*/
  transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  /*others*/
}



