.App {
  /* display */ 

  /* width/height */ 
  width: 95vw;
  height: 100vh;
  /* padding/margin */ 
  margin-top: 10vh;
  /* border */ 
  
  /* text */ 
  
  /* shadow */ 
  
  /* transition/animation */ 
  
  /* others */ 
  box-sizing: border-box;
}

.menu {
  /*display*/
  background-color: #F7444E;
  /*width/height*/
  width: 50%;
  height: 100vh;
  /*padding/margin*/

  /*border*/

  /*text*/

  /*shadow*
  
  //*transition/animation*/
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  /*others*/
}

.hidden {
  /*display*//*width/height*//*padding/margin*//*border*//*text*//*shadow*/
  /*transition/animation*/
  transform: translateX(-1000px);
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
    /*others*/
}



