.App {
  /* display */ 
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* width/height */ 
  width: 100vw;
  height: 100vh;
  /* padding/margin */ 
  margin: 50px;
  /* border */ 
  
  /* text */ 
  
  /* shadow */ 
  
  /* transition/animation */ 
  
  /* others */ 
}

.Input {
  /* display */ 
  display: flex;
  justify-content: center;
  /* width/height */ 
  
  /* padding/margin */ 

  /* border */ 
  
  /* text */ 
  
  /* shadow */ 
  
  /* transition/animation */ 
  
  /* others */ 
}

.Button {
  /* display */ 
  display: flex;
  justify-content: center;
  /* width/height */ 
  
  /* padding/margin */ 
  
  /* border */ 
  
  /* text */ 
  
  /* shadow */ 
  
  /* transition/animation */ 
  
  /* others */ 
}

